.container {
  max-width: 116rem;
  margin: 0 auto;

  &-lg {
    max-width: 136rem;
    margin: 0 auto;
  }

  &-sm {
    max-width: 96rem;
    margin: 0 auto;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.width {
  &-100 {
    width: 100%;
  }
  &-75 {
    width: 75%;
  }
  &-50 {
    width: 50%;
  }
  &-25 {
    width: 25%;
  }
}

.m {
  &-5 {
    margin: 5rem;
  }
  &-4 {
    margin: 4rem;
  }
  &-3 {
    margin: 3rem;
  }
  &-2 {
    margin: 2rem;
  }
  &-1 {
    margin: 1rem;
  }
  &x {
    &-5 {
      margin: 0 5rem;
    }
    &-4 {
      margin: 0 4rem;
    }
    &-3 {
      margin: 0 3rem;
    }
    &-2 {
      margin: 0 2rem;
    }
    &-1 {
      margin: 0 1rem;
    }
    &-auto {
      margin: 0 auto;
    }
  }
  &y {
    &-1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-3 {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &-4 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    &-5 {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
}
