// Colors
$color-primary: #7209b7;
$color-primary-dark: #550689;
$color-primary-light: #b44ff8;

$color-secondary: #8928a4;
$color-secondary-light: #af3acf;
$color-secondary-dark: #601c73;

$color-grey: #777;
$color-grey-light: #999;
$color-grey-dark: #444;

$color-white: #fbfbfb;
$color-dark: #201a23;
// Fonts
$font-size-default: 1.6rem;

// Line-height
