// Colors
$color-primary: #7209b7;
$color-primary-dark: #550689;
$color-primary-light: #b44ff8;

$color-secondary: #8928a4;
$color-secondary-light: #af3acf;
$color-secondary-dark: #601c73;

$color-grey: #777;
$color-grey-light: #999;
$color-grey-dark: #444;

$color-white: #fbfbfb;
$color-dark: #201a23;

// Fonts
$font-size-default: 1.6rem;

// Line-height

// Border
$border-radius-small: 0.9rem;

// Box shadow:
$outline-shadow: 0 0 0.2rem 0.2rem rgba($color-secondary-light, 0.9);
$box-shadow-light: 0 0 0.2rem 0.2rem rgba($color-dark, 0.2);
