@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

*:focus {
  box-shadow: 0 0 0.2rem 0.2rem rgba(175, 58, 207, 0.9);
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #201a23;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

a:hover,
a:active {
  border-bottom: 1px solid #201a23;
  cursor: pointer;
  color: #000;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

.section-header {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.6;
  padding: 1rem 0;
}

.container {
  max-width: 116rem;
  margin: 0 auto;
}
.container-lg {
  max-width: 136rem;
  margin: 0 auto;
}
.container-sm {
  max-width: 96rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.width-100 {
  width: 100%;
}
.width-75 {
  width: 75%;
}
.width-50 {
  width: 50%;
}
.width-25 {
  width: 25%;
}

.m-5 {
  margin: 5rem;
}
.m-4 {
  margin: 4rem;
}
.m-3 {
  margin: 3rem;
}
.m-2 {
  margin: 2rem;
}
.m-1 {
  margin: 1rem;
}
.mx-5 {
  margin: 0 5rem;
}
.mx-4 {
  margin: 0 4rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-auto {
  margin: 0 auto;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.search {
  display: flex;
  gap: 1.6rem;
}
.search__dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 20rem;
  padding: 1.6rem;
  color: #333;
  font-size: 2rem;
}
.search__dropdown--select {
  outline: none;
  border: none;
  background: none;
  font-size: 2rem;
}
.search__dropdown--select:invalid {
  color: rgba(51, 51, 51, 0.5);
}
.search__dropdown--options {
  color: #333;
}
.search__icon {
  color: rgba(51, 51, 51, 0.5);
  font-size: 2rem;
}
.search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 20rem;
  padding: 1.6rem;
  flex-grow: 2;
}
.search__bar--label {
  display: block;
  font-size: 2rem;
}
.search__bar--input {
  display: block;
  width: 100%;
  font-size: 2rem;
  border: none;
}
.search__bar--input:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
  padding: 2rem 0;
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1.6rem;
}
.form__input {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: 1px solid transparent;
  border-radius: 0.9rem;
  outline: none;
}
.form__label {
  font-size: 1.6rem;
}

.btn {
  display: block;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 2rem;
  font-weight: 600;
}
.btn--primary {
  background-color: #7209b7;
  color: #fff;
}
.btn--primary:hover {
  background-color: rgba(114, 9, 183, 0.9);
}
.btn--secondary {
  background-color: #8928a4;
  color: #fff;
}
.btn--secondary:hover {
  background-color: rgba(137, 40, 164, 0.9);
}
.btn:hover {
  cursor: pointer;
}
.btn--round {
  border-radius: 20rem;
}

.listing {
  box-shadow: 0 0 0.2rem 0.2rem rgba(32, 26, 35, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.6rem;
  padding: 1rem;
}
.listing__image {
  width: 100%;
  height: auto;
  display: block;
  /* temp */
  width: 20rem;
  height: 20rem;
}
.listing__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.listing__title--link:link, .listing__title--link:visited {
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 500;
  color: #7209b7;
}
.listing__title--link:hover, .listing__title--link:active {
  color: rgba(114, 9, 183, 0.8);
  border-bottom: 1px solid currentColor;
}
.listing__details {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.card {
  box-shadow: 0 0 0.2rem 0.2rem rgba(32, 26, 35, 0.2);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}
.card--primary-dark {
  background-color: #550689;
  color: #fbfbfb;
}
.card--primary {
  background-color: #7209b7;
  color: #fbfbfb;
}

.header {
  background-color: #7209b7;
  padding: 1rem 2rem;
  color: #fbfbfb;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.header__brand-text {
  font-size: 5.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header__brand-logo {
  width: 7rem;
}
.header__nav-links {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.header__nav-link:link, .header__nav-link:visited {
  color: #fbfbfb;
}
.header__nav-link:active, .header__nav-link:hover {
  border-bottom: 1px solid #fbfbfb;
}

.grid {
  display: grid;
  grid-row-gap: 4.8rem;
  grid-column-gap: 9.6rem;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.listings-grid {
  padding: 1rem 2rem;
}

.section {
  padding: 9.6rem 0;
}
.section-search {
  padding: 7.2rem 0;
}
.section-listings {
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
